body {
   background: rgb(164, 169, 235);
}

#head {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/crystalwallpaper.jpg");
    
}

h1 {
    color: white;
  }

.box {
    margin: auto;
    width: 50%;
    background: white;
  }

#head {
    padding: 60px;
  }
  
p,
#appendWins,
#appendLosses,
#number-text,
#score-text {
    text-align: center;
  }

p {
   padding: 2px;
}

button {
    margin-right: 10px;
    margin-left: 10px;
}

#crystals,
#random-number,
#directions,
#win-loss,
#total-score {
    background: none;
}

img {
    width: 80px;
    height: 80px;
}

#total-score {
    margin-bottom: 20px;
}

#crystalbutton1 {
    margin-left: 130px;
}

